body{
    background-image: url("https://i.imgur.com/1lSwR3h.png");
}
.header {
    text-align: -webkit-center;
}
h1{
   color: white; 
   width: 50%;
   padding: 30px;
   background-color: rgb(218, 158, 49);
   border-radius: 5px;
   border: 2px solid black;
}

#main-container{
    padding: 20px;
    width: 40%;
    background-color: tan;
    text-align: center;
    margin-left: 28%;
    padding-bottom: 1px;
    margin-top: -15px;
}
#computer-num{
    width: 10%;
    padding: 10px 27px 20px 20px;
    background-color: rgb(80, 177, 177);
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 28%;
    margin-bottom: 10px;
}
#wins-losses{
    width: 5%;
    padding: 10px 120px 12px 2px;
    background-color: rgb(21, 155, 21);
    display: inline-block;
    margin-left: 28%;
}
#gem-gif{
    clear: both;
    text-align: center;
}
#scoring{
    width: 20%;
    padding: 1px 5px;
    background-color:  rgb(78, 78, 255);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 50%;
    margin-top: -223px;
}
#counter-score{
    width: 20%;
    padding: 1px 1px;
    background-color: rgb(78, 78, 241);
    color: white;
    font-size: 50px;
    text-align: center;
    margin-left: 50%;
    padding-right: 8px;
}

@media screen and (max-width: 980px) {
    body {
        background-color: yellow;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: black;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: brown;
    }
}